/*Generales*/
body {
	background: #eee;
}
/* Registro */

.frm-registro {

}
.box-form {
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 0 auto;
	float: none;
	padding-top: 0;
}

.box-form form input {
	margin-bottom: 10px;
}