{% extends 'AppBundle:Layouts:layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="box-form col-lg-5 col-lg-offset-2">
                <h2>Identificarse</h2>
                <hr>

                {% if(is_granted('ROLE USER')) %}
                    {{ dump(app.user) }}
                {% endif %}
                <pre>
                    {{ dump(error) }}
                </pre>

                <form action="{{ path('login_check') }}" method="post">
                    <label for="username">Email</label>
                    <input type="email"  id="username" name="_username" value="{{ last_username }}" class="form-control">

                    <label for="password">Contraseña</label>
                    <input type="password"  id="password" name="_password"  class="form-control">

                    <input type="submit" value="Enviar" class="btn btn-success">
                    <input type="hidden" name="_target_path" value="/home">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
                    >
                </form>

            </div>
        </div>
    </div>

{% endblock %}