{% extends 'AppBundle:Layouts:layout.html.twig' %}

 {% block content %}
	
	<div class="container">
		<div class="row">
			<div class="box-form col-lg-8 col-lg-offset-2">
				<h2>Registrarse</h2>
				<hr>
				{{ form_start(form, {'action': '', 'method':'POST'}) }}
				{{ form_errors(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>

 {% endblock %}

{% block scriptsf %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('assets/js/custom/login.js')}}"></script>
{% endblock %}