<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} SF3 NETWORK {% endblock %}</title>

	<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.cosmo.min.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/styles.css')}}">

	<script>
		var main_url = "{{ app.request.getSchemeAndHttpHost() }}{{ asset('') }}";
	</script>

	{% block scriptsh %} <!-- Scripts --> {% endblock %}
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</button>
					<a href="{{ path('app_homepage')}}" class="navbar-brand"> 
						<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
						NETWORK
					</a>
				
				</div>
				 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li class="">
	      		<a href="{{ path('login')}}">
	      			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
	      			Entrar </a>
	      	</li>
	      	<li class="">
	      		<a href="{{ path('register')}}">
	      			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
	      			Registro</a>
	      	</li>
	      </ul>
			</div>
		</nav>
	</header>
	<section class="content">
		<div class="container-fluid row">
			<div class="col-md-12">
				{% for message in app.session.flashbag().get('status') %}
					<div class="alert alert-info text-center">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="clearfix"></div>

		{% block content %} <!-- contenido --> {% endblock %}
	</section>
	<footer class="row">
		<div class="col-lg-12">
			<hr>
			<div class="container">
				<p class="text-muted">
					Desarrollo de la red social
				</p>
			</div>
		</div>
	</footer>
	
	<script type="text/javascript" src="{{ asset('assets/js/jquery-2.2.4.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>

	{% block scriptsf %} <!-- Scripts --> {% endblock %}
</body>
</html>